.anuncio-bar {
  background: linear-gradient(to right, #ffd966, #ffb347);
  color: var(--text-color); 
  font-weight: bold;
  font-size: 0.85rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Es como la prioridad, estaba muy alta */
  min-height: 1.25rem;
  padding: 0.25em 1em;
  transition: all 0.3s ease;
  transform-origin: top;
  overflow: hidden;
}

.btn-link {
  text-decoration: none !important;
  box-shadow: none !important;
  color: var(--text-color); 
  font-size: 0.5rem; 
  height: 32px;
  width: 32px;
}

.btn-link:hover {
  color: var(--footer-bg);
}

.material-icons {
  font-size: 1.35rem;
  line-height: 1;
}