<form class="form-sede" [formGroup]="sedeForm" (ngSubmit)="onSubmit()">
  <h2 style="margin-bottom: 1.5rem; font-weight: 700;">Editar Sede</h2>
  <div class="form-grid">
    <div>
      <label>Nombre</label>
      <input type="text" formControlName="nombre">
      <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="error-message">
        <div *ngIf="nombre.errors?.['required']">El nombre es requerido</div>
        <div *ngIf="nombre.errors?.['minlength']">Debe tener al menos 3 caracteres</div>
      </div>
    </div>
    <div>
      <div>
        <label>Ciudad</label>
        <input type="text" formControlName="ciudad" readonly />
      </div>
    </div>
    <div>
      <label>Dirección</label>
      <input type="text" formControlName="direccion">
      <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="error-message">
        <div *ngIf="direccion.errors?.['required']">La dirección es requerida</div>
        <div *ngIf="direccion.errors?.['minlength']">Debe tener al menos 5 caracteres</div>
      </div>
    </div>
    <div>
      <label>Teléfono</label>
      <input type="text" formControlName="telefono">
      <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="error-message">
        <div *ngIf="telefono.errors?.['pattern']">Solo números, guiones y espacios</div>
        <div *ngIf="telefono.errors?.['maxlength']">Máximo 15 caracteres</div>
      </div>
    </div>
    <div>
      <label>Email</label>
      <input type="email" formControlName="email">
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
        <div *ngIf="email.errors?.['email']">Ingrese un email válido</div>
      </div>
    </div>
      <div>
    <label>Estado</label>
    <select formControlName="estado">
      <option *ngFor="let estado of estados" [value]="estado" [selected]="estado === sedeForm.value.estado">
        {{estado}}
      </option>
    </select>
    <div *ngIf="estado.invalid && (estado.dirty || estado.touched)" class="error-message">
      <div *ngIf="estado.errors?.['required']">El estado es requerido</div>
    </div>
  </div>
  </div>
  <div id="map"></div>
  <p>Ubicación: Lat {{ sedeForm.value.latitud }} | Lng {{ sedeForm.value.longitud }}</p>
  <button type="submit">Guardar Cambios</button>
</form>

<app-alert *ngIf="showAlert" [message]="alertMessage" [theme]="alertTheme" [type]="alertType"
  (closed)="showAlert = false">
</app-alert>