<div class="page-container" *ngIf="showLoginRegisterModal">
  <div class="container" [ngClass]="{ 'right-active': !isLoginActive }">
    <button class="close-btn" (click)="cerrarLoginRegisterModal()">×</button>

    <div class="left-section">
      <h1 class="h1-iz">
        {{ !isLoginActive ? "¡Hola, Espectador!" : "¡Bienvenido!" }}
      </h1>
      <p class="p-iz">
        {{
          isLoginActive
            ? "Regístrate con tus datos para poder unirte a nuestro proyecto de Cinebyte"
            : "Mantente conectado con nuestros cines a través de la inscripción de una cuenta en nuestra página web"
        }}
      </p>
      <button class="iniciar" (click)="toggleView()">
        {{ !isLoginActive ? "REGISTRARSE" : "INICIAR SESIÓN" }}
      </button>
    </div>

    <div class="right-section">
      <h1 class="h1-der">
        {{ !isLoginActive ? "Iniciar Sesión" : "Crear Cuenta" }}
      </h1>

      <ng-container *ngIf="!isLoginActive">
        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
          <div class="input-container">
            <img src="correo.png" class="icono" alt="icono correo" />
            <input
              type="email"
              placeholder="Correo Electrónico"
              formControlName="email"
            />
          </div>
          <div
            *ngIf="
              loginForm.get('email')?.invalid &&
              (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)
            "
            class="error-message"
          >
            <span *ngIf="loginForm.get('email')?.errors?.['required']"
              >El correo es obligatorio.</span
            >
            <span *ngIf="loginForm.get('email')?.errors?.['email']"
              >Introduce un correo valido.</span
            >
          </div>

          <div class="input-container">
            <img src="contraseña.png" class="icono" alt="icono contraseña" />
            <input
              type="password"
              placeholder="Contraseña"
              formControlName="password"
            />
          </div>
          <div
            *ngIf="
              loginForm.get('password')?.invalid &&
              (loginForm.get('password')?.dirty ||
                loginForm.get('password')?.touched)
            "
            class="error-message"
          >
            <span *ngIf="loginForm.get('password')?.errors?.['required']"
              >La contraseña es obligatoria.</span
            >
            <span *ngIf="loginForm.get('password')?.errors?.['minlength']"
              >La contraseña debe tener al menos 6 caracteres.</span
            >
          </div>

          <a class="recu" (click)="abrirRecuperarContrasena()"
            >¿Olvidaste tu contraseña?</a
          >
          <br />
          <button
            type="submit"
            class="inicioses"
            [disabled]="loginForm.invalid"
          >
            Iniciar Sesión
          </button>
        </form>
      </ng-container>

      <ng-container *ngIf="isLoginActive">
        <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
          <div class="input-container">
            <img src="usuario.png" class="icono" alt="icono usuario" />
            <input
              type="text"
              placeholder="Usuario"
              formControlName="username"
            />
          </div>
          <div
            *ngIf="
              registerForm.get('username')?.invalid &&
              (registerForm.get('username')?.dirty ||
                registerForm.get('username')?.touched)
            "
            class="error-message"
          >
            <span *ngIf="registerForm.get('username')?.errors?.['required']"
              >El usuario es obligatorio.</span
            >
          </div>

          <div class="input-container">
            <img src="correo.png" class="icono" alt="icono correo" />
            <input
              type="email"
              placeholder="Correo Electrónico"
              formControlName="email"
            />
          </div>
          <div
            *ngIf="
              registerForm.get('email')?.invalid &&
              (registerForm.get('email')?.dirty ||
                registerForm.get('email')?.touched)
            "
            class="error-message"
          >
            <span *ngIf="registerForm.get('email')?.errors?.['required']"
              >El correo es obligatorio.</span
            >
            <span *ngIf="registerForm.get('email')?.errors?.['email']"
              >Introduce un correo valido.</span
            >
          </div>

          <div class="input-container">
            <img src="contraseña.png" class="icono" alt="icono contraseña" />
            <input
              type="password"
              placeholder="Contraseña"
              formControlName="password"
            />
          </div>
          <div
            *ngIf="
              registerForm.get('password')?.invalid &&
              (registerForm.get('password')?.dirty ||
                registerForm.get('password')?.touched)
            "
            class="error-message"
          >
            <span *ngIf="registerForm.get('password')?.errors?.['required']"
              >La contraseña es obligatoria.</span
            >
            <span *ngIf="registerForm.get('password')?.errors?.['minlength']"
              >La contraseña debe tener al menos 6 caracteres.</span
            >
          </div>

          <button
            type="submit"
            class="registrar"
            [disabled]="registerForm.invalid"
          >
            Registrarse
          </button>
        </form>
      </ng-container>

      <h6>o utiliza una cuenta para iniciar sesión ahora</h6>
      <button class="boton-img" (click)="loginWithFacebook()">
        <img src="facebook.png" alt="icono Facebook" />
        Iniciar sesión con Facebook
      </button>
      <button class="boton-img" (click)="loginWithGoogle()">
        <img src="google.png" alt="icono Google" />
        Iniciar sesión con Google
      </button>
    </div>
  </div>
</div>

<app-recuperar-contrasena
  *ngIf="showRecoverPasswordModal"
  (cerrar)="cerrarRecuperarContrasena()"
></app-recuperar-contrasena>
