.container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
        "header header"
        "sidebar content";
    height: 100vh;
    transition: all 0.3s ease;

}
.container.no-sidebar {
  grid-template-columns: 65px 1fr;
}

.header-container {
  grid-area: header;
  text-align: center;
}

.sidebar-container {
  grid-area: sidebar;
  text-align: center;
}

.content-container {
  grid-area: content;
  text-align: center;
}