header{
    z-index: 200;
    width: 100%;
    display: flex;
    min-height: 4rem;
    justify-content: space-between;
    padding: 0.45rem 2rem 0.45rem 1.27rem;
    background-color: black;
    top: 0;
    left: 0;
    position: sticky;
}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
}
.brand{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}
.brand .logo{
   width: 2.1rem;
}
.brand .name{
    font-size: 1.5rem;
    font-weight: 900;
    color:white;
}
.menu-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}
.menu-container i{
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}
