<div class="modal-backdrop" *ngIf="mostrar">
  <div class="modal-content">
    <button type="button" class="modal-cerrar" (click)="cerrarModal()">&times;</button>
    <h1 class="form-title">Registrar Actor</h1>
    <form [formGroup]="actorform" (ngSubmit)="saveActor()">
      <div class="form-group">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" id="nombre" formControlName="nombre" class="form-input" placeholder="Ej: Chris" required>
        <div *ngIf="actorform.get('nombre')?.invalid && actorform.get('nombre')?.touched" class="validation-error">
          El nombre es obligatorio.
        </div>
      </div>

      <div class="form-group">
        <label for="apellidos" class="form-label">Apellidos</label>
        <input type="text" id="apellidos" formControlName="apellidos" class="form-input" placeholder="Ej: Hemsworth"
          required>
        <div *ngIf="actorform.get('apellidos')?.invalid && actorform.get('apellidos')?.touched"
          class="validation-error">
          El apellido es obligatorio.
        </div>
      </div>

      <div class="form-group">
        <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento</label>
        <input type="date" id="fecha_nacimiento" formControlName="fecha_nacimiento" class="form-input" required>
        <div *ngIf="actorform.get('fecha_nacimiento')?.invalid && actorform.get('fecha_nacimiento')?.touched"
          class="validation-error">
          La fecha de nacimiento es obligatorio.
        </div>
      </div>

      <div class="form-group">
        <label for="id_nacionalidad" class="form-label">Nacionalidad</label>
        <select id="id_nacionalidad" formControlName="id_nacionalidad">
          <option value="" disabled>Seleccione una nacionalidad</option>
          <option *ngFor="let distru of getNacionalidad()" [value]="distru.id_pais">
            {{ distru.nombre }}
          </option>
        </select>
        <div *ngIf="actorform.get('nacionalidad')?.invalid && actorform.get('nacionalidad')?.touched"
          class="validation-error">
          La nacionalidad es obligatorio.
        </div>
      </div>
      <button type="submit" class="submit-button">Guardar Actor</button>
    </form>
  </div>
</div>