<div class="modal-backdrop" *ngIf="mostrar">
  <div class="modal-content">
    <button type="button" class="modal-cerrar" (click)="cerrarModal()">&times;</button>
    <h1 class="form-title">Registrar Actor</h1>
    <form [formGroup]="actorForm" (ngSubmit)="saveActor()">
      <div class="form-group">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" id="nombre" formControlName="nombre" class="form-input" placeholder="Ej: Chris" required>
        <div *ngIf="actorForm.get('nombre')?.invalid && actorForm.get('nombre')?.touched" class="validation-error">
          El nombre es obligatorio.
        </div>
      </div>

      <div class="form-group">
        <label for="apellidos" class="form-label">Apellidos</label>
        <input type="text" id="apellidos" formControlName="apellidos" class="form-input" placeholder="Ej: Hemsworth" required>
        <div *ngIf="actorForm.get('apellidos')?.invalid && actorForm.get('apellidos')?.touched" class="validation-error">
          El apellido es obligatorio.
        </div>
      </div>

      <div class="form-group">
        <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento</label>
        <input type="date" id="fecha_nacimiento" formControlName="fecha_nacimiento" class="form-input" required>
        <div *ngIf="actorForm.get('fecha_nacimiento')?.invalid && actorForm.get('fecha_nacimiento')?.touched" class="validation-error">
          La fecha de nacimiento es obligatoria.
        </div>
      </div>

      <div class="form-group">
        <label for="id_nacionalidad" class="form-label">Nacionalidad</label>
        <select id="id_nacionalidad" formControlName="id_nacionalidad" class="form-input" required>
          <option value="" disabled selected>Seleccione una nacionalidad</option>
          <option *ngFor="let pais of paises" [value]="pais.id_pais">
            {{ pais.nombre }}
          </option>
        </select>
        <div *ngIf="actorForm.get('id_nacionalidad')?.invalid && actorForm.get('id_nacionalidad')?.touched" class="validation-error">
          La nacionalidad es obligatoria.
        </div>
      </div>
      <button type="submit" class="submit-button" [disabled]="actorForm.invalid">Guardar Actor</button>
    </form>
  </div>
</div>