<footer class="footer">

  <div class="footer-background">

    <div class="footer-content">
      <hr style="margin-bottom: 4rem; margin-top: 1rem;  border: none;
  border-top: 2px solid var(--footer-link);
  background-color: var(--footer-line)">
      <div class="footer-columns">
        <div class="footer-section">
          <h4>CARTELERA</h4>
          <ul>
            <li><a href="#">Estrenos</a></li>
            <li><a href="#">Próximamente</a></li>
            <li><a href="#">Todos</a></li>
          </ul>
        </div>

        <div class="footer-section">
          <h4>LEGAL</h4>
          <ul>
            <li><a href="/terminos-y-condiciones">Términos y Condiciones</a></li>
            <li><a href="politica-de-privacidad">Política de Privacidad</a></li>
          </ul>
        </div>

        <div class="footer-section">
          <h4>NOSOTROS</h4>
          <ul>
            <li><a href="donde-estamos">Dónde Estamos</a></li>
            <li><a href="acerca-de-nosotros">Acerca de Nosotros</a></li>
            <li><a href="contactanos">Contáctanos</a></li>
          </ul>
        </div>

        <div class="footer-section">
          <h4>MÉTODOS DE PAGO</h4>
          <div class="payment-icons">
            <img src="Metodos Pago/PayPal_logo.png" alt="PayPal">
            <img src="Metodos Pago/Visa_Inc._logo.svg" alt="Visa">
            <img src="Metodos Pago/Mastercard-logo.svg" alt="MasterCard">
          </div>
          <h4 style="margin-top: 1rem;">REDES SOCIALES</h4>
          <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"><i
                class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer"><i
                class="bi bi-instagram"></i></a>
            <a href="https://twitter.com" target="_blank" rel="noopener noreferrer"><i class="bi bi-twitter-x"></i></a>
            <a href="https://www.tiktok.com" target="_blank" rel="noopener noreferrer"><i class="bi bi-tiktok"></i></a>
            <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer"><i
                class="bi bi-youtube"></i></a>

          </div>
        </div>
      </div>

      <hr style="
  border-top: 1px solid var(--footer-link);
  background-color: var(--footer-line)">

      <div class="footer-bottom">
        <img src="Imagotipo Proyecto.png" alt="Logo Footer" [class.logo-invertido]="!modoOscuro" />

        <p>© 2025 CineByte UTMACH</p>
      </div>
    </div>
  </div>
</footer>