<div class="sidebar">
    <nav>
        <ul>
            <li>
                <a routerLink="/admin/dashboard">
                    <i class="fa-solid fa-table-columns"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a routerLink="/admin/peliculas">
                    <i class="fa-solid fa-film"></i>
                    <span>Peliculas</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-solid fa-rectangle-ad"></i>
                    <span>Promociones</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-solid fa-tv"></i>
                    <span>Salas</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-solid fa-house"></i>
                    <span>Funciones</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-solid fa-users"></i>
                    <span>Usuarios</span>
                </a>
            </li>
        </ul>
    </nav>
</div>