<div class="loading-wrapper" [class.fade-out]="fadeOut">
  <div class="spinner">
    <div class="bar bar1"></div>
    <div class="bar bar2"></div>
    <div class="bar bar3"></div>
    <div class="bar bar4"></div>
    <div class="bar bar5"></div>
    <div class="bar bar6"></div>
    <div class="bar bar7"></div>
    <div class="bar bar8"></div>
    <div class="bar bar9"></div>
    <div class="bar bar10"></div>
    <div class="bar bar11"></div>
    <div class="bar bar12"></div>
  </div>
  <!--Texto en pantalla de carga, comentario XDD XDD
  -->
  <div class="loading-text">Cargando...</div>
</div>
